.Form_wrapper {
  width: 464px;
  background-color: #24232b;
  /* display: flex; */

  font-family: "IBM Plex Mono", monospace;
  color: #d4d2db;
  font-size: 14px;
  padding: 0 20px;
  padding-bottom: 20px;
  margin: auto;
}
.checkboxes__wrapper {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 19px;
  padding: 0;
}
