/* x 464 y 68 */

.display__wrapper {
  display: flex;
  width: 464px;
  height: 65px;
  background-color: #24232b;
  justify-content: space-between;
  align-items: center;
  color: #d4d2db;
  font-size: 19px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 21px;
}
.copyBtn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #a4ffaf;
  padding: 0;
  padding-left: 10px;
}
.copyBtn:hover {
  cursor: pointer;
}

.copyBtn:active {
  color: #65ce71;
  font-size: 22px;
}
